form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

label {
    font-size: 1.5rem;
}

.inputContainer {
    width: 42.5rem;
    height: 2rem;
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 8px;
}

.inputContainer:focus {
    outline: none;
    border: none;
}

.buttonAdd {
    width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
    background-color: lightskyblue;
    border: none;
    border-radius: 8px;
    transition: 0.2s ease;
}